<nav class="main-nav">
    <ul class="main-menu">
        <li><a href="/">Главная</a></li>
        <li><a href="/gallery">Галлерея</a></li>
        <li><a href="/goods">Каталог товаров</a></li>
    </ul>
</nav>